/* =====GLOBAL===== */
:root {
	/* VARIABLES */
	--font: #000;
	--bg: #FFF;
	--top: #D91842;
	--sectionbg: #F0F0F0;
	--footbg: #000;
	--footfont: #FFF;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--font);
	line-height: 1.5;
}

html { scroll-behavior: smooth }
body { background-color: var(--footbg) }
header, main { background-color: var(--bg) }



/* =====HEADER===== */
header {
	width: 100%;
	height: 60px;
	padding: 0 6px;

	border-bottom: 3px solid var(--footbg);
	box-shadow: 0 5px 0 var(--top);

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	z-index: 10;
}

header a {
	text-decoration: none;
}

.head-logo {
	height: 100%;

	display: flex;
	align-items: center;
}

.head-logo-icon {
	height: 100%;
}

#head-logo-img {
	height: 40px;
}

.head-logo-group {
	margin: 0 14px;

	font-size: 1.5em;
	font-weight: bold;
}

#toogle-theme {
	width: 24px;
	height: 24px;
	margin-right: 16px;

	border: 3px solid var(--font);
	border-radius: 5px;

	user-select: none;
	cursor: pointer;
}

#toogle-theme:hover {
	box-shadow: 0 0 6px var(--font);
}

nav {
	display: flex;
	align-items: center;
}

.nav-item-block,
.contacts {
	padding: 1px 10px;
	margin: 0 4px;

	font-size: 1.2em;
	text-transform: uppercase;

	transition: border-bottom 0s;
}

.nav-item-block:not(#selected) {
	border: 3px solid var(--bg);
}

.nav-item-block:not(#selected):hover {
	border-bottom: 3px solid var(--top);
}

.nav-item-block#selected {
	border: 3px solid var(--top);
	border-radius: 8px;

	background-color: #D91842;

	color: #FFF;
}

.contacts {
	border: 3px solid var(--top);

	font-weight: bold;
	color: var(--top);

	cursor: pointer;
	user-select: none;

	transition: all 0.2s;
}

.contacts:hover {
	background-color: var(--top);
	color: #FFF
}

/* BURGER MENU */
.burger-nav {
	height: 100%;

	display: none;
	align-items: center;
}

#burger-logo {
	height: 40px;
	
	user-select: none;
	cursor: pointer;
}

#side-nav {
	padding: 6px 16px 6px 50px;
	height: 100%;

	border-left: 3px solid var(--font);

	background-color: var(--bg);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;

	position: fixed;
	top: 0;
	right: -500px;
	z-index: 15;

	transition: right 0.5s;
}

#side-close {
	width: 50px;

	position: absolute;
	top: 10px;
	left: 10px;

	user-select: none;
	cursor: pointer;
}

.side-item {
	text-decoration: none;
	display: flex;
	align-items: center;
}

.side-item-block {
	font-size: 1.5em;
	padding: 5px 10px 5px 0;
	border-right: 5px solid var(--top);
}

.side-item-block#selected { position: relative }
.side-item-block#selected::before {
	content: url("../images/selected.png");

	height: 10px;

	position: absolute;
	left: -24px
}



/* =====MAIN===== */
.main-default.first, .main-section.first {
	padding-top: 90px;
}

.main-default {
	background-color: var(--bg);
	width: 100%;
}

.main-section {
	background-color: var(--sectionbg);
	width: 100%;
}

.main-content {
	min-height: 200px;
	max-width: 1100px;
	margin: 0 auto;
	padding: 40px 6px;
}

.page-title {
	font-size: 3em;
	margin-bottom: 14px;
}

.intro {
	max-width: 900px;
	font-size: 1.2em;
}

.main-title {
	text-align: center;
	font-size: 1.8em;
}

.main-p {
	margin: 10px 0;
	font-size: 1.3em;
}

.main-list {
	margin-left: 40px;
}

.main-list li {
	font-size: 1.3em;
}


/* =====FOOTER===== */
.footer-content {
	max-width: 1400px;
	margin: 0 auto;
	padding: 30px 6px;

	display: flex;
	justify-content: space-between;
}

.foot-title {
	margin-bottom: 20px;

	font-size: 1.3em;
	color: var(--footfont);
	letter-spacing: 1px;
}

.foot-left .foot-title { text-align: left }
.foot-right .foot-title { text-align: right }

.foot-contact {
	margin: 10px 0;

	display: flex;
	align-items: center;
}

.foot-left .foot-contact { justify-content: left }
.foot-right .foot-contact { justify-content: right }

.contact-icon {
	width: 24px;
}

.contact-info {
	margin: 0 10px;
	color: var(--footfont);
}
.contact-info a {
	color: var(--footfont);
	text-decoration: none;
}

.foot-title-mini {
	margin-top: 18px;
	color: var(--footfont);
}

.foot-right .foot-title-mini { text-align: right }
.uniq-ftm { margin-top: 10px }


/* =====BACK BUTTON===== */
#back-btn {
	width: 44px;
	height: 44px;

	border-radius: 50%;

	position: fixed;
	bottom: -50px;
	right: 10px;

	background-color: var(--top);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;

	transition: bottom 0.2s linear;
}



/* =====ADAPTIVE PARTS===== */
@media screen and (max-width: 1100px) {
	header {
		flex-direction: column;
		height: auto;
		padding: 6px;
	}
}

@media screen and (max-width: 900px) {
	* {
		font-size: 12px;
	}

	/* HEADER */
	header {
		flex-direction: row;
		height: 60px;
		padding: 0 10px;
	}

	nav { display: none }
	.burger-nav { display: flex }


	/* =====MAIN===== */
	/* .main-default.first, .main-section.first {
		padding-top: 50px;
	} */
	
	.page-title {
		font-size: 2em;
		text-align: center;
	}


	/* FOOTER */
	.footer-content {
		flex-direction: column;
		padding-bottom: 50px;
	}
	.foot-left .foot-title, .foot-right .foot-title {
		text-align: center;
	}
	.foot-right .foot-title-mini {
		text-align: left;
	}
	.foot-right .foot-contact {
		justify-content: left;
		flex-direction: row-reverse;
	}
	.contact-info {
		word-wrap: normal;
	}
	#back-btn {
		left: 10px;
	}
}