/* =====WELCOME=PART===== */
.main-section.first {
	margin-top: 60px;
	padding-top: 0;

	height: calc(100vh - 60px);

	background-color: var(--bg);
	background-image: url("https://ekat.top-academy.ru/dist/images/src/images/courses-adult/year/banner-top-year-course-new.fcebea2d1573bc3fa765b0f15c1673a3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.welcome {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-title, .intro {
	color: #FFF;
	max-width: 700px;
}


/* =====ADAPTIVE PARTS===== */
@media screen and (max-width: 750px) {
	.main-section.first {
		height: calc(100vh - 150px)
	}
}